@use '@styles/variables' as *;

.footer {
	background-color: #0e1130;
	overflow: hidden;

	&-bottom {
		position: relative;
		z-index: 0;
		padding: 17px 20px 22px;
		text-align: center;

		&:before {
			content: '';
			bottom: 0;
			left: 50%;
			position: absolute;
			z-index: -1;
			width: 100vw;
			height: 100%;
			background-color: $secondary-color;
			transform: translate(-50%);
		}
	}

	&-content {
		display: grid;
		gap: 32px 64px;
		padding-top: 54px;
		padding-bottom: 54px;
		> * {
			grid-column: 1/-1;
		}

		@media screen and (min-width: $xs) {
			grid-template-columns: 1fr 1fr;

			> * {
				grid-column: span 1;
			}
		}
		@media screen and (min-width: $sm) {
			grid-template-columns: 1fr 1fr 1fr;
			padding-top: 74px;

			> .separator {
				grid-column: 2/4;
			}
		}

		@media screen and (min-width: $md) {
			grid-template-columns: auto 1fr auto auto auto;
			padding-top: 124px;

			> .separator {
				grid-column: span 1;
			}
		}

		@media screen and (min-width: $lg) {
			padding-top: 184px;
		}

		@media screen and (min-width: $lg) {
			padding-top: 204px;
		}
	}
}
