@use '@styles/variables' as *;

.navbar {
	position: fixed;
	left: 50%;
	top: 0;
	width: 100%;
	max-width: $xl;
	z-index: 999;
	background-color: $gray-color;
	transform: translateX(-50%);

	&:before {
		content: '';
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $gray-color;
		z-index: 0;
	}

	:global(.container) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 24px;
		padding-top: 26px;
		padding-bottom: 26px;
	}

	&-button {
		position: relative;
		padding: 10px;
		width: 37px;
		height: 30px;

		span {
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			width: 17px;
			height: 2px;
			border-radius: 1px;
			background-color: $dark-color;
			transition: transform 0.24s;

			&:first-of-type {
				transform: translateX(-50%) translateY(4px);
			}
			&:last-of-type {
				transform: translateX(-50%) translateY(-4px);
			}
		}
	}

	&-menu {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: -2;
		transform: translateY(-21px) scaleY(0);
		opacity: 0;
		background-color: #fff;
		width: 100%;
		padding: 40px 20px 40px;
		border-radius: 0 0 20px 20px;
		transition: transform 0.24s, opacity 0.24s;
		transform-origin: top;

		&-item {
			list-style: none;
			display: block;
			font-size: 16px;
			font-weight: 700;
			border-bottom: 1.5px dashed #dedede;
			cursor: pointer;

			a,
			span {
				display: block;
				gap: 18px;
				padding: 19px 20px 23px 0;
				color: $dark-color;
				white-space: nowrap;
				transition: color 0.24s;
			}

			&[data-has-children='true'] {
				> a {
					&:after {
						content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 19 11" fill="none"><path d="M0.0477493 1.06481C0.0487613 0.798616 0.156176 0.532693 0.369691 0.320306C0.79672 -0.104469 1.43479 -0.102766 1.85858 0.324278L9.01005 7.53065L16.2162 0.362582C16.6432 -0.0621923 17.2813 -0.0604899 17.7051 0.366555C18.1289 0.793599 18.1265 1.43249 17.6995 1.85726L9.74603 9.7687C9.319 10.1935 8.68086 10.1918 8.25707 9.76473L0.364024 1.81101C0.152128 1.59749 0.0467373 1.331 0.0477493 1.06481Z" fill="%23252B42"/></svg>');
						display: inline-block;
						margin-left: 0.5em;
					}
				}
			}
		}
	}

	&-submenu {
		display: none;

		&[data-is-expanded='true'] {
			display: block;
		}

		&-item {
			a {
				padding-top: 0;
				padding-left: 20px;
				font-weight: 500;
				color: $dark-color;
				transition: color 0.24s;
				&:hover {
					color: $primary-color;
				}
			}
		}
	}

	&--expanded {
		.navbar-menu {
			transform: translateY(-21px) scaleY(1);
			opacity: 1;

			@media screen and (min-width: $md) {
				transform: translateY(0) scaleY(1);
			}
		}

		.navbar-button {
			span {
				&:first-of-type {
					transform: translateX(-50%) translateY(0) rotate(45deg);
				}
				&:last-of-type {
					transform: translateX(-50%) translateY(0) rotate(-45deg);
				}
			}
		}
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		border-radius: 20px;
		box-shadow: 0 0 14px rgba(70, 80, 90, 0.2);
		opacity: 0;
		transition: opacity 0.5s;
	}

	&--scrolled {
		&::after {
			opacity: 1;
		}
	}

	@media screen and (min-width: $sm) {
		border-radius: 20px;
		width: calc(100% - 30px);

		&:before {
			border-radius: 20px;
		}
	}

	@media screen and (min-width: $md) {
		top: 25px;
		box-shadow: none;

		&-button {
			display: none;
		}

		&-submenu {
			position: absolute;
			top: 100%;
			right: -30%;
			display: block;
			min-width: max-content;
			background-color: #fff;
			padding: 10px 44px;
			border: 1px solid $gray-color;
			border-radius: 30px;
			transform: translateY(20px);
			box-shadow: 0px 28px 57px rgba(190, 190, 190, 0.25);
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.24s, visibility 0.24s;

			&-item {
				> a {
					padding: 20px 0;
				}
			}

			&-item:not(:last-of-type) {
				a {
					border-bottom: 1px dashed $gray-color;
				}
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				display: block;
				width: 33px;
				height: 33px;
				background-color: #fff;
				border-top: 1px solid $gray-color;
				border-right: 1px solid $gray-color;
				transform: translateY(-50%) translateX(-100%) rotate(-45deg);
			}

			&::after {
				content: '';
				position: absolute;
				bottom: 100%;
				left: 0;
				width: 100%;
				height: 20px;
				background-color: transparent;
			}
		}

		&-menu {
			position: relative;
			z-index: 1;
			display: flex;
			align-items: center;
			background-color: transparent;
			gap: 20px;
			width: auto;
			padding: 0;
			box-shadow: none;
			transform: translateY(0) scale(1);
			opacity: 1;

			&-item {
				position: relative;
				border: none;
				> a {
					padding: 5px 10px;
				}

				&:hover {
					.navbar-submenu {
						opacity: 1;
						visibility: visible;
					}
				}

				&:nth-of-type(3) {
					a {
						padding: 5px;
					}
				}

				&[data-is-higlited='primary'] {
					a {
						display: block;
						color: $light-color;
						font-weight: 500;
						padding: 12px 38px;
						background-color: $primary-color;
						border-radius: 100px;
						transition: background-color 0.24s;

						&:hover {
							background-color: darken($primary-color, 5%);
						}
						&:active {
							background-color: $dark-color;
						}
					}
				}
				&[data-is-higlited='outline'] {
					a {
						display: block;
						color: $primary-color;
						font-weight: 500;
						padding: 10px 38px;
						background-color: transparent;
						border: 2px solid $primary-color;
						border-radius: 100px;
						transition: background-color 0.24s, color 0.24s;

						&:hover {
							color: $light-color;
							background-color: $primary-color;
						}
					}
				}
			}
		}
	}

	@media screen and (min-width: $lg) {
		:global {
			.container {
				padding: 26px 32px;
			}
		}
	}
}
