@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: local('Montserrat'), url('@fonts/Montserrat-Bold.woff2');
	text-rendering: optimizeLegibility;
}

@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src: local('Montserrat'), url('@fonts/Montserrat-SemiBold.woff2');
	text-rendering: optimizeLegibility;
}

@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local('Montserrat'), url('@fonts/Montserrat-Regular.woff2');
	text-rendering: optimizeLegibility;
}

@font-face {
	font-display: swap;
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 800;
	src: local('Montserrat'), url('@fonts/OpenSans-Bold.woff2');
	text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

button,
a {
	cursor: pointer;
	text-decoration: none;
	background-color: transparent;
	color: inherit;
	border: none;
	font-family: inherit;
}

ul {
	list-style-type: none;
	list-style-position: inside;
}

textarea {
	font-family: inherit;
}

:root {
	font-size: 10px;
}
