$primary-color: #FF6A3D;
$secondary-color: #252B61;
$link-color: #1176FF;
$dark-color: #252b42;
$gray-color: #e8e8e8;
$light-color: #f5f5f5;
$text-color: #252b42;
$white-color: #fff;
$black-color: #202020;
$danger-color: #f00;
$yellow-color: #F7EAAB;
$success-color: #A3DAC3;

$xs: 414px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
