$primary-color: #ff6a3d;
$secondary-color: #252b61;
$link-color: #1176ff;
$dark-color: #252b42;
$gray-color: #eff4f9;
$light-color: #fff;
$text-color: #252b42;
$white-color: #fff;
$black-color: #202020;
$danger-color: #f00;
$yellow-color: #f7eaab;
$success-color: #a3dac3;

$footer-link-color: #7884a6;

$xs: 414px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
