@use '@styles/variables' as *;

.wrapper {
	border-radius: 20px;
	margin-right: -15px;
	margin-left: -15px;

	:global(.container) {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	&-title {
		text-align: center;
	}

	&-text {
    max-width: 516px;
		margin: 10px auto 0;
		text-align: center;
	}

	&--secondary {
		background-color: $secondary-color;
	}

	&--gray {
		background-color: $gray-color;
	}

	&--dark {
		background-color: #0E1130;
	}

	@media screen and (min-width: $sm) {
		margin-left: 0;
		margin-right: 0;
	}

	@media screen and (min-width: $md) {
		:global(.container) {
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}

	@media screen and (min-width: $lg) {
		:global(.container) {
			padding-top: 60px;
			padding-bottom: 60px;
		}
	}
}
